## The Recommender System
---
Purpose: Recommend a movie based on liked movies.

In [1]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import pairwise_distances

### Data Sets Pre-Processing & Manipulation
---
There are two CSVs (movies.csv and ratings.csv) that we'll eventually inner join.

In [2]:
movies = pd.read_csv('../ml-latest-small/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv('../ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

#### Drop unnecessary columns
---
We won't need the timestamp column from ratings, nor will we need the genres column from movies. Drop both columns in the cells below.

In [4]:
ratings.drop('timestamp', axis = 1, inplace = True)
movies.drop('genres', axis = 1, inplace = True)

#### Merge movies & Ratings
---

In [5]:
movies_and_ratings = pd.merge(ratings, movies, on = 'movieId')
movies_and_ratings.shape

(100836, 4)

In [6]:
movies_and_ratings.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

#### Create pivot table
---

Because we're creating an item-based collaborative recommender (where item in this case is our movies), we'll set up our pivot table as follows:
1. The `title` will be the index
2. The `userId` will be the column
3. The `rating` will be the value

**If we were building a user-based collaborative recommender, what would change about this pivot table?**

In [7]:
pivot = pd.pivot_table(movies_and_ratings, index = 'title', columns = 'userId', values = 'rating')
pivot.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Salem's Lot (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
pivot.shape

(9719, 610)

### Create sparse matrix
---

In a minute, we'll calculate the cosine similarity for each movie using the `pairwise_distances` function. Before that, we need to create a sparse matrix (datatype) using `scipy`'s `sparse` module like so:
```python
sparse.csr_matrix(pivot.fillna(0), metric='cosine')
```

In [9]:
sparse_pivot = sparse.csr_matrix(pivot.fillna(0))
print(sparse_pivot)

  (0, 609)	4.0
  (1, 331)	4.0
  (2, 331)	3.5
  (2, 376)	3.5
  (3, 344)	5.0
  (4, 112)	3.0
  (4, 344)	5.0
  (5, 20)	1.5
  (6, 11)	5.0
  (6, 18)	2.0
  (6, 90)	2.0
  (6, 94)	3.0
  (6, 171)	4.0
  (6, 216)	4.0
  (6, 287)	3.0
  (6, 293)	1.0
  (6, 306)	3.5
  (6, 376)	3.5
  (6, 413)	3.0
  (6, 473)	1.0
  (6, 476)	3.5
  (6, 519)	4.0
  (6, 554)	5.0
  (6, 560)	4.5
  (6, 598)	2.0
  :	:
  (9717, 26)	5.0
  (9717, 41)	5.0
  (9717, 56)	2.0
  (9717, 67)	4.0
  (9717, 87)	3.5
  (9717, 140)	3.5
  (9717, 197)	2.0
  (9717, 214)	2.5
  (9717, 216)	2.0
  (9717, 220)	3.5
  (9717, 238)	3.0
  (9717, 281)	4.0
  (9717, 293)	4.0
  (9717, 306)	2.5
  (9717, 312)	1.0
  (9717, 413)	3.0
  (9717, 420)	3.0
  (9717, 447)	3.0
  (9717, 473)	3.0
  (9717, 476)	3.5
  (9717, 554)	3.0
  (9717, 560)	4.0
  (9717, 596)	3.0
  (9717, 598)	2.5
  (9718, 526)	1.0

### Calculate cosine similarity
---

`sklearn` has a built-in `pairwise_distances` function that we can use for our recommender. It will return a square matrix, comparing every movie with every other movie in the dataset.

```python
pairwise_distances(sparse_pivot, metric ='cosine')
```

In [10]:
recommender = pairwise_distances(sparse_pivot, metric = 'cosine')

### Create distances DataFrame
---

At this point, we essentially have a recommender. We'll load it into a `pandas` DataFrame for readability. 

You'll notice that each movie has a "distance" of 0 with itself (along the diagonal).

In [11]:
recommender_df = pd.DataFrame(recommender, columns = pivot.index, index = pivot.index)
recommender_df.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.0,0.858347,1.0,...,1.0,0.657945,0.456695,0.292893,1.0,1.0,0.860569,0.672673,1.0,1.0
'Hellboy': The Seeds of Creation (2004),1.0,0.000000,0.292893,1.000000,1.000000,1.0,1.000000,1.0,1.000000,1.0,...,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.0,1.0
'Round Midnight (1986),1.0,0.292893,0.000000,1.000000,1.000000,1.0,0.823223,1.0,1.000000,1.0,...,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.0,1.0
'Salem's Lot (2004),1.0,1.000000,1.000000,0.000000,0.142507,1.0,1.000000,1.0,1.000000,1.0,...,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.0,1.0
'Til There Was You (1997),1.0,1.000000,1.000000,0.142507,0.000000,1.0,1.000000,1.0,1.000000,1.0,...,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.0,1.0

### Evaluate recommender performance
---

Now comes the fun part! Let's check out a few movies to see if the recommender aligns with our intuition. In the cell below we'll do the following:
1. Create a search term
2. Use that to find all titles matching the search query
3. For each title, we'll list off the following:
  1. The average rating
  2. The number of ratings
  3. The ten most similar movies

In [12]:
search = 'Superman'

for title in movies.loc[movies['title'].str.contains(search), 'title']:
    print(title)
    print('Average rating', pivot.loc[title, :].mean())
    print('Number of ratings', pivot.T[title].count())
    print('')
    print('10 closest movies')
    print(recommender_df[title].sort_values()[1:11])
    print('')
    print('*******************************************************************************************')
    print('')

Superman (1978)
Average rating 3.6065573770491803
Number of ratings 61

10 closest movies
title
RoboCop (1987)                                 0.371194
Superman II (1980)                             0.418235
Predator (1987)                                0.431320
Planet of the Apes (1968)                      0.456055
Star Trek II: The Wrath of Khan (1982)         0.459107
Indiana Jones and the Temple of Doom (1984)    0.468016
Terminator, The (1984)                         0.470267
Aliens (1986)                                  0.485045
Highlander (1986)                              0.487613
E.T. the Extra-Terrestrial (1982)              0.489020
Name: Superman (1978), dtype: float64

*******************************************************************************************

Superman II (1980)
Average rating 3.020408163265306
Number of ratings 49

10 closest movies
title
Superman (1978)                                                       0.418235
Star Trek III: The Search for Spock (1984)                            0.448455
RoboCop (1987)                                                        0.470139
Adventures of Buckaroo Banzai Across the 8th Dimension, The (1984)    0.486481
Planet of the Apes (1968)                                             0.492563
Batman Returns (1992)                                                 0.496815
Superman IV: The Quest for Peace (1987)                               0.500135
Star Trek IV: The Voyage Home (1986)                                  0.503926
Rocketeer, The (1991)                                                 0.505599
Superman III (1983)                                                   0.511882
Name: Superman II (1980), dtype: float64

*******************************************************************************************

Superman III (1983)
Average rating 2.25
Number of ratings 22

10 closest movies
title
Arthur (1981)                              0.368093
Superman IV: The Quest for Peace (1987)    0.429799
Popeye (1980)                              0.434995
Earth Girls Are Easy (1988)                0.462851
Cocoon: The Return (1988)                  0.492978
Star Trek: Insurrection (1998)             0.510121
Superman II (1980)                         0.511882
Hollywoodland (2006)                       0.516100
Man with Two Brains, The (1983)            0.521747
Angus (1995)                               0.531917
Name: Superman III (1983), dtype: float64

*******************************************************************************************

Superman IV: The Quest for Peace (1987)
Average rating 1.6875
Number of ratings 16

10 closest movies
title
Superman III (1983)                     0.429799
Young Sherlock Holmes (1985)            0.455939
Beyond the Poseidon Adventure (1979)    0.478613
Operation Dumbo Drop (1995)             0.480864
Small Soldiers (1998)                   0.491658
Wide Awake (1998)                       0.499467
Superman II (1980)                      0.500135
Trial and Error (1997)                  0.506052
No Escape (1994)                        0.507335
Gone Fishin' (1997)                     0.507335
Name: Superman IV: The Quest for Peace (1987), dtype: float64

*******************************************************************************************

Batman/Superman Movie, The (1998)
Average rating 2.0
Number of ratings 1

10 closest movies
title
Witch Hunt (1999)                              0.0
Love and Death on Long Island (1997)           0.0
Other People's Money (1991)                    0.0
Cashback (2004)                                0.0
With Great Power: The Stan Lee Story (2012)    0.0
Beautiful Losers (2008)                        0.0
Case 39 (2009)                                 0.0
Revolution (1985)                              0.0
Shakespeare Behind Bars (2005)                 0.0
The Hound of the Baskervilles (1988)           0.0
Name: Batman/Superman Movie, The (1998), dtype: float64

*******************************************************************************************

Superman Returns (2006)
Average rating 3.08
Number of ratings 25

10 closest movies
title
Hellboy (2004)                                            0.393904
King Kong (2005)                                          0.441759
Daredevil (2003)                                          0.467364
Fantastic Four (2005)                                     0.475777
X-Men: The Last Stand (2006)                              0.499857
Fountain, The (2006)                                      0.508684
Lemony Snicket's A Series of Unfortunate Events (2004)    0.509492
Transformers (2007)                                       0.509552
X2: X-Men United (2003)                                   0.519241
Unleashed (Danny the Dog) (2005)                          0.520785
Name: Superman Returns (2006), dtype: float64

*******************************************************************************************

Waiting for 'Superman' (2010)
Average rating 4.0
Number of ratings 1

10 closest movies
title
Tie Xi Qu: West of the Tracks (Tiexi qu) (2003)    0.0
Steam of Life (Miesten vuoro) (2010)               0.0
Oceans (Océans) (2009)                             0.0
Extraordinary Tales (2015)                         0.0
Antonio Gaudí (1985)                               0.0
Bitter Lake (2015)                                 0.0
Neon Bull (2015)                                   0.0
Waiting for 'Superman' (2010)                      0.0
Oversimplification of Her Beauty, An (2012)        0.0
Night and Fog (Nuit et brouillard) (1955)          0.0
Name: Waiting for 'Superman' (2010), dtype: float64

*******************************************************************************************

All-Star Superman (2011)
Average rating 4.25
Number of ratings 2

10 closest movies
title
JCVD (2008)                                                                                            0.001358
Justice League: Crisis on Two Earths (2010)                                                            0.001358
Ultimate Avengers (2006)                                                                               0.003527
Justice League: The New Frontier (2008)                                                                0.003527
Dragon Ball Z: Super Android 13! (Doragon bôru Z 7: Kyokugen batoru!! San dai sûpâ saiyajin) (1992)    0.005838
Dragon Ball Z: Cooler's Revenge (Doragon bôru Z 5: Tobikkiri no saikyô tai saikyô) (1991)              0.015216
Dragon Ball: Sleeping Princess in Devil's Castle (Doragon bôru: Majinjô no nemuri hime) (1987)         0.031446
Dark Water (2005)                                                                                      0.036625
Dragon Ball Z the Movie: The Tree of Might (Doragon bôru Z 3: Chikyû marugoto chô kessen) (1990)       0.120708
Batman: Year One (2011)                                                                                0.161572
Name: All-Star Superman (2011), dtype: float64

*******************************************************************************************

Superman/Doomsday (2007)
Average rating 4.0
Number of ratings 1

10 closest movies
title
Dominion: Prequel to the Exorcist (2005)    0.0
Shin Godzilla (2016)                        0.0
Deepwater Horizon (2016)                    0.0
Silent Hill: Revelation 3D (2012)           0.0
Wonder Woman (2009)                         0.0
Dante's Inferno: An Animated Epic (2010)    0.0
Son of the Mask (2005)                      0.0
Creep (2004)                                0.0
Superman/Batman: Public Enemies (2009)      0.0
Superman/Doomsday (2007)                    0.0
Name: Superman/Doomsday (2007) , dtype: float64

*******************************************************************************************

Superman/Batman: Public Enemies (2009)
Average rating 5.0
Number of ratings 1

10 closest movies
title
Dominion: Prequel to the Exorcist (2005)    0.0
Shin Godzilla (2016)                        0.0
Deepwater Horizon (2016)                    0.0
Silent Hill: Revelation 3D (2012)           0.0
Wonder Woman (2009)                         0.0
Dante's Inferno: An Animated Epic (2010)    0.0
Son of the Mask (2005)                      0.0
Creep (2004)                                0.0
Superman/Batman: Public Enemies (2009)      0.0
Superman/Doomsday (2007)                    0.0
Name: Superman/Batman: Public Enemies (2009), dtype: float64

*******************************************************************************************

Batman v Superman: Dawn of Justice (2016)
Average rating 2.34375
Number of ratings 16

10 closest movies
title
Justice League (2017)                    0.412761
Jumanji: Welcome to the Jungle (2017)    0.469086
Triangle (2009)                          0.486429
Captain America: Civil War (2016)        0.503272
Tomb Raider (2018)                       0.509953
Predestination (2014)                    0.510255
Time Lapse (2014)                        0.511784
Demolition (2016)                        0.521136
Suicide Squad (2016)                     0.523215
The Jungle Book (2016)                   0.525048
Name: Batman v Superman: Dawn of Justice (2016), dtype: float64

*******************************************************************************************